
*{
    font-family: 'Times New Roman', Times, serif;
}

.hero-image{
    background-image: url("./images/The_Forbidden_City_-_View_from_Coal_Hill.jpg");
    height: 330px;
    background-position: center -570px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    top: -170px;
    position: absolute;
    color: whitesmoke;
    font-size: 200px;
    text-align: center;
    width: 100%;
}