
*{
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
}

h1{
    font-size: 70px;
}

img{
    width: 100%;
}

.hero-image{
    background-image: url("./images/The_Forbidden_City_-_View_from_Coal_Hill.jpg");
    height: 330px;
    background-position: center -570px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    top: -170px;
    position: absolute;
    color: whitesmoke;
    font-size: 200px;
    text-align: center;
    width: 100%;
}

.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 33px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.infos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:33px;
    width: 80%;
    margin: auto;
    margin-top: -5px;
}